<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tip.studentinformationsystem">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TIPStudentInformationSystem"
        tools:ignore="AllowBackup">
        <activity
            android:name=".ViewStudent"
            android:label="View Student Information" />
        <activity
            android:name=".DeleteStudent"
            android:label="Delete Student Information" />
        <activity
            android:name=".EditStudent"
            android:label="Edit Student Information" />
        <activity
            android:name=".AddStudent"
            android:label="Add Student Information" />
        <activity
            android:name=".StudentInformation"
            android:label="@string/app_name" />
        <activity
            android:name=".ForgotPassword"
            android:label="Reset Password" />
        <activity
            android:name=".RegisterActivity"
            android:label="Registration" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>